@keyframes showLetter {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}

@keyframes flipCard {
  from {
    transform: rotateY(0deg);
    transform: scaleX(-1);
  }

  to {
    transform: rotateY(180deg);
    transform: scaleX(1);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0px);
  }

  10% {
    transform: translateX(-1px);
  }

  20% {
    transform: translateX(-4px);
  }

  30% {
    transform: translateX(-7px);
  }
  
  40% {
    transform: translateX(3px);
  }

  50% {
    transform: translateX(6px);
  }

  60% {
    transform: translateX(9px);
  }

  70% {
    transform: translateX(-3px);
  }

  80% {
    transform: translateX(-6px);
  }
  
  90% {
    transform: translateX(-9px);
  }

  100% {
    transform: translateX(0px);
  }
}