* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mitr', sans-serif;
  color: #fff;
  font-weight: 900;
}

body {
  background-color: #6E5C62;
  overflow: hidden;
  user-select: none;
}