@media screen and (max-width: 800px) {
      
  #words-container {
    transform: scale(0.9);
  }
  
  #board {
    margin: 10px auto;
    transform: scale(0.5);
  }
  
  #board .row-board .key {
    padding: 0 20px;
  }

  #board .row-board #btn-del {
    padding: 0 30px;
  }

}

@media screen and (max-width: 1000px) {
  #board .row-board:nth-child(2),
  #board .row-board:nth-child(3) {
    padding-left: 0px;
  }
}