header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.025em;
  gap: 10px;
}

#words-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

#words-container .word {
  max-width: 980px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#words-container .word.incorrect {
  animation: shake .2s;
  animation-iteration-count: 2;
}

#words-container .word.disabled > .letter {
  background-color: #615458;
  border: none;
  cursor: auto;
}

#words-container .word .letter {
  width: 50px;
  height: 50px;
  border: 4px solid #4C4347;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  transform-style: preserve-3d;
  cursor: pointer;
}

#words-container .word .letter.flip {
  animation: flipCard .5s;
}

#words-container .word.active .letter.selected {
  border-bottom: 8px solid #4C4347 !important;
}

#words-container .word .letter.no-exists {
  background-color: #312A2C;
  border: none;
}

#words-container .word .letter.no-position {
  background-color: #D3AD69;
  border: none;
}

#words-container .word .letter.correct {
  background-color: #3AA394;
  border: none;
}

#board {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#board .row-board {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

#board .row-board .key {
  width: 65px;
  height: 50px;
  background-color: #4C4347;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

#board .row-board .key.no-exists {
  opacity: 0.5;
}

#board .row-board .key.no-position {
  background-color: #D3AD69;
  border: none;
}

#board .row-board .key.correct {
  background-color: #3AA394;
  border: none;
}

#board .row-board:nth-child(2) {
  padding-left: 100px;
}

#board .row-board:nth-child(3) {
  padding-left: 90px;
}

#board .row-board #btn-del {
  width: 65px;
  height: 50px;
  background-color: #4C4347;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 30px;
}

#board .row-board #btn-del img {
  width: 30px;
}

#board .row-board #btn-enter {
  width: auto;
  padding: 0 20px;
  margin-left: 35px;
  height: 50px;
  background-color: #4C4347;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

.letter.show {
  animation: showLetter .2s;
}